<div class="sections-container">
    <!-- First Section -->
    <div class="section">
      <h3>Offer Volume List Price: {{ offerVolumeListPrice | currency }}</h3>
      <div class="discount">
        <span class="top-discount">Top Discount: {{ topValue }}%</span>
        <span class="target-discount">Target Discount: {{ targetValue }}%</span>
        <span class="floor-discount">Floor Discount: {{ floorValue }}%</span>
  
        <input
          type="range"
          [min]=startingRange
          [max]=endingRange
          step="1"
          [value]="sliderValue"
          (input)="onSliderChange($event)"
        />
        <p>Slider Selected Value: {{ sliderValue }}</p>
      </div>
    </div>
  
      <!-- Second Section -->
      <div class="section">
        <h3>Incentive for this deal</h3>
        <!-- <p>{{incentivePercentage}}</p> -->
        <ngx-charts-bar-vertical
        [view]="[250, 250]"
        [scheme]="'vivid'"
        [results]="incentiveChartData"
        [gradient]="false"
        [xAxis]="false"
        [yAxis]="true"
        [legend]="false"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Incentive in %'"
        [yScaleMin]="0"
        [yScaleMax]="250"
        [showDataLabel]="true" 
      ></ngx-charts-bar-vertical>
      </div>
  
      <!-- Third Section -->
      <div class="section">
        <h3>Realistic Discount Scenario</h3>
        <!-- <p>{{discountProbability}}</p> -->
        <ngx-charts-bar-vertical
        [view]="[250, 250]"
        [scheme]="'vivid'"
        [results]="discountChartData"
        [gradient]="false"
        [xAxis]="false"
        [yAxis]="true"
        [legend]="false"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Probability in %'"
        [yScaleMin]="0"
        [yScaleMax]="100"
        [showDataLabel]="true" 
      ></ngx-charts-bar-vertical>
      </div>
    </div>
  
  